.userChoice{
    width: 50%;
}

.userChoice h3, .userChoice form, .userChoice p, .userChoice h3{
    padding: 0.5rem;
}

.userChoice input{
    padding: 1rem;
    text-align: center;
}

.userChoice button{
    display: block;
    margin: 1rem auto 0 auto;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: royalblue;
    border: 5px solid royalblue;
    cursor: pointer;
    border-radius: 5%;
}

button:focus{outline: 0}

.userChoice button:hover{
    background-color: transparent;
    color: white;
    transition: 0.4s;

}